body {
    margin: 0;
    font-family: 'Lucida Sans';
}

.container {
    background-color: rgb(11, 16, 63);
    height: 100px;
    width: 60%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    position: fixed;
    top: 0;
    text-align: center;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
    left: 50%;
    transform: translateX(-50%); 
    z-index: 9999;
}

.banner {
    background-image: url('banner.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 28rem;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
}

.box {
    height: 100px;
    width: 20%;
    color: aliceblue;
    display: block;
    box-sizing: border-box;
    float: left;
}

h1 {
    color: rgb(39, 221, 161);
}

h2 {
    color: rgb(0, 0, 0);
    padding-left: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: rgb(4, 255, 222); 
}

nav a:active {
    color: rgb(78, 148, 148);
    text-decoration: underline;
}

main {
    background-image: url('background.jpg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 30rem;
    border: 2px solid rgb(97, 65, 65);
    position: relative;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#details {
    margin-right: 500px;
    line-height: 0.5;
    background-color: rgb(39, 221, 161);
    width: 25%;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#heart {
    position: absolute;
    width: 100px;
    left: 90%;
    top: -30px;
}

.info {
    color: rgb(0, 0, 0);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

footer {
    background-color: rgb(17, 20, 51);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        font-size: 12px;
        box-shadow: none;
    }

    .banner {
        width: 100%;
        box-shadow: none;
        margin-top: 0;
    }

    #heart {
        left: 70%;
        width: 80px;
    }

    main {
        width: 80%;
        margin-top: -65%; /* Kokeile negatiivista margin-arvoa */
        margin-bottom: 0;
        font-size: 13px;
        box-shadow: none;
    }

    .box {
        width: 100%;
    }

    #details {
        margin-right: 0;
        width: 80%;
        font-size: 11px;
    }

    footer {
        width: 100%;
        left: 0;
        font-size: 10px;
        height: 2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1366px) {
    .container {
        width: 100%;
        font-size: 16px;
        box-shadow: none;

    }

    .banner {
        width: 100%;
        box-shadow: none;
    }

    #heart {
       
    }

    main {
        width: 80%;
        height: 45rem;
        font-size: 15px;
        box-shadow: none;
    }

    .box {
        width: 100%;
       
    }

    #details {
        margin-right: 0;
        width: 80%;
        font-size: 15px;
    }

    footer {
        width: 100%;
        left: 0;
        font-size: 10px;
        height: 2rem;

    }
}