body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

#show_joke {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Lisätty väliä yläpuolelle */
}

.button-container {
  margin-top: 20px; /* Lisätty väliä yläpuolelle */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tehtävä 3 korttien muotoilut */
/* Flexbox-layout korttien asemointiin */
.card-area {
  display: flex;
  justify-content: center; /* Asetetaan boksit keskelle sivua */
  gap: 20px; 
}

.card {
  display: flex;
  width: 50%;
  max-width: 500px;
  border: 1px solid #ccc;
  height: 300px;
}

.card-img,
.card-diary {
  flex: 0 0 50%; 
  height: 100%; 
}

.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.card-diary {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-diary h4 {
  margin-top: 1px;
}

.card-diary p {
  line-height: 1.8;
  font-size: 13px;
}

button {
  margin-bottom: 20px;
}


